<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebookfrenzy.beaotis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".findingobjects.fruits.GroupMixed"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".findingobjects.vehicles.groupthree.GroupThreeVe"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.vehicles.grouptwo.GroupTwoVe"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.vehicles.groupone.GroupOneVe"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.vegetables.groupthree.GroupThreeV"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.vegetables.grouptwo.GroupTwoV"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.vegetables.groupone.GroupOneV"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.furnitures.groupthree.GroupThreeF"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.furnitures.grouptwo.GroupTwoF"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.furnitures.groupone.GroupOneF"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.fruits.groupthree.GroupThree"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.fruits.grouptwo.GroupTwo"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.fruits.groupone.GroupOne"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.furnitures.FurnituresActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.fruits.FruitsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.vegetables.VegetablesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.vehicles.VehiclesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.PracticesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.ColorsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.MathematicActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.SeasonsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.NumbersActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.AlfabeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".parent.ParentActivity" />
        <activity android:name=".SignUpActivity" /> <!-- MainActivity Diğer Activitylerin Parenti(BackStack için önemli) -->
        <activity
            android:name=".aba.Aba"
            android:screenOrientation="landscape" />
        <activity
            android:name=".awards.Awards"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letstalk.LetsTalk"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.FindingObjects"
            android:screenOrientation="landscape" />
        <activity
            android:name=".makeittogether.MakeItTogether"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".completesentence.CompleteSentence"
            android:screenOrientation="landscape" />
        <activity
            android:name=".story.Story"
            android:screenOrientation="landscape" />
        <activity
            android:name=".etiquette.Etiquette"
            android:screenOrientation="landscape" />
        <activity
            android:name=".educationalsongs.EducationalSongs"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pairing.Pairing"
            android:screenOrientation="landscape" />
        <activity
            android:name=".markyourheard.MarkYourHeard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.LetsStudyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>