<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebookfrenzy.beaotis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".parent.ParentActivity"></activity>
        <activity android:name=".SignUpActivity" /> <!-- MainActivity Diğer Activitylerin Parenti(BackStack için önemli) -->
        <activity
            android:name=".aba.Aba"
            android:screenOrientation="landscape" />
        <activity
            android:name=".awards.Awards"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letstalk.LetsTalk"
            android:screenOrientation="landscape" />
        <activity
            android:name=".findingobjects.FindingObjects"
            android:screenOrientation="landscape" />
        <activity
            android:name=".makeittogether.MakeItTogether"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".completesentence.CompleteSentence"
            android:screenOrientation="landscape" />
        <activity
            android:name=".story.Story"
            android:screenOrientation="landscape" />
        <activity
            android:name=".etiquette.Etiquette"
            android:screenOrientation="landscape" />
        <activity
            android:name=".educationalsongs.EducationalSongs"
            android:screenOrientation="landscape" />
        <activity
            android:name=".pairing.Pairing"
            android:screenOrientation="landscape" />
        <activity
            android:name=".markyourheard.MarkYourHeard"
            android:screenOrientation="landscape" />
        <activity
            android:name=".letsstudy.LetsStudyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>